html, body, canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1, h2, h3, h4, p, a, span {
  font-family: 'Pompiere', cursive;
}

.container {
  position: absolute;
  height: 680px;
  width: 420px;
  top: 50%;
  margin-top: -340px;
  left: 50%;
  margin-left: -210px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.site {
  /*border: solid 2px green;*/
  height: 300px;
  width: 100%;
}

.img_site {
  height: 115px;
}
.img_site img {
  height: 100px;
  width: 100px;
  border-radius: 106px;
  margin: 0 auto;
  display: block;
  margin-top: 13px;
}

.titulo_site {
  height: 45px;
}
h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
}

.descripcion_site {
  height: 23px;
}
p {
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  width: 90%;
  margin: 0 auto;
}

.links_site {
  margin-top: 50px;
  height: auto;
}
.links_site div {
  height: 82px;
  width: 280px;
  /*background: red;*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.links_site img {
  width: 50px;
  height: 50px;
}

.links_site h2 a {
  text-decoration: none;
  color: #000;
}
.links_site h2 a:hover {
  color: #DCA721;
}

.descripcion_site p {
  font-size: 25px;
  margin-bottom: 20px;
}

.links_site a {
  font-size: 27px;
}
